body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.paint {
    border: solid;
    display: flex;
    flex: 1;
}

.container {
    display: flex;
    width: 960px;
    height: 960px;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

button {
    background-color: white;
    width: 100px;
    height: 50px;
}

button:hover{
    background-color: aqua;
}